.site {
    background-color: $nav-background-color;
    width: 100%;
    min-height: 100vh;

    header {
        width: 100%;
        background-color: #fff;
        position: relative;
        top: 0;
        left: 0;
        z-index: 99;
        border-bottom: 1px solid $border-color;
        box-shadow: rgba(0, 0, 0, .222);

        .navbar {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .open-mobile-nav, 
            .open-search,
            .open-minicart {
                width: 3.75rem;
                height: 3.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $fs-large;

                &.active {
                    background-color: #999;
                }
            }

            .logo-wrapper {
                width: calc(100% - (3.75rem * 3));
                height: 3.75rem;
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    width: 100%;
                    height: 100%;
                    line-height: 3.75rem;
                    text-align: center;
                    
                    a {
                        text-decoration: none;
                        color: $text-base-color;
                        font-size: $fs-large;
                        font-weight: $fw-semibold;
                    }
                }
            }

            .open-minicart {
                text-decoration: none;
                color: $text-base-color;

                .balloon {
                    position: relative;
                    top: -10px;
                    right: 8px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #f00;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        font-size: .7rem;
                        font-weight: $fw-semibold;
                        color: #fff;
                    }
                }
            }

            .form-search {
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                padding: 1rem 2rem;
                background-color: #999;
                display: none;
    
                &.active {
                    display: block;
                }
    
                form {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    input {
                        width: 95%;
                        border: none;
                        padding: .5rem 1rem;
                        color: $text-base-color;
                    }
    
                    button {
                        width: 5%;
                        padding: .79rem 1rem;
                        border: none;
                        background-color: #666;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $text-secondary-color;
                        font-size: $fs-large;

                        i {
                            margin-left: 4px;
                        }
                    }
                }
            }

            .open-search-desktop {
                display: none;
            }

            @media only screen and (min-width: 991px) {
                .open-mobile-nav {
                    display: none;
                }
                .logo-wrapper {
                    order: 0;
                }
                .open-search-desktop,
                .open-search {
                    order: 1;
                }
                .open-minicart {
                    order: 3;
                }
                .open-search-desktop {
                    display: flex !important;
                    width: 500px;
                    height: 60px;
                    align-items: center;
                    justify-content: center;

                    form {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        padding: .7rem 0;

                        input {
                            border: 1px solid #9999;
                            border-top-left-radius: .2rem;
                            border-bottom-left-radius: .2rem;
                            padding: 10px 20px;
                        }

                        button {
                            border: 1px solid #9999;
                            border-top-right-radius: .2rem;
                            border-bottom-right-radius: .2rem;
                            padding: 10px 20px;
                            margin-left: -1px;
                            width: 50px;
                            text-align: center;
                        }

                        i {
                            margin-left: -3px;
                        }
                    }
                }
            }
        }

        @media only screen and (min-width: 991px) {
            .navbar {
                padding: 0 4rem;
                justify-content: space-between !important;
            }

            .logo-wrapper {
                width: auto !important;
            }

            .open-search {
                display: none !important;
            }
        }

        .menu {
            position: absolute;
            top: 61px;
            left: 0;
            width: 0;
            height: calc(100vh - 60px);
            background-color: rgba(0, 0, 0, .333);
            display: none;

            &.active {
                display: block;
                width: 100%;
    
                nav {
                    width: 50%;
                }
            }

            nav {
                width: 0%;
                height: 100%;
                background-color: #fff;
                
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    height: 100%;

                    li {
                        width: 100%;
                        text-align: left;
                        padding: .5rem 1rem;

                        a {
                            text-decoration: none;
                            color: $text-base-color;
                            font-size: $fs-base;
                            font-weight: $fw-semibold;
                            border-bottom: 1px solid $border-color;
                            display: block;
                            height: 2rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
        }
    }

    .banner-home {
        position: relative;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #999;
    }
}
