$transition-speed: 0.3s;
$transition-easing: ease-in-out;

@mixin transition($property: all, $duration: $transition-speed, $easing: $transition-easing) {
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
    -o-transition: $property $duration $easing;
    transition: $property $duration $easing;
}